@import '../../../scss/scrollbar-styles';

.ToDoList__container {
    border-radius: 4px;
    padding: 3px;
    width: 200px;
    border: 1px solid #a3ccf4;
    min-height: 50px;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    @media screen and (min-width: 310px) {
        width: 290px;
    }

    @media screen and (max-width: 550px) {
        width: 100%;
    }

    @media screen and (min-width: 550px) {
        width: 48%;
    }

    @media screen and (min-width: 960px) {
        width: 315px;
        flex: 0 0 auto;
        max-height: 85vh;
    }
}

.ToDoList__nameBar {
    color: rgb(219, 224, 226);
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editableSpan--list {
    display: block;
    margin: 15px 5px 5px 5px;
    min-height: 20px;
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.editableInput--list {
    display: none;
    margin: 15px 5px 5px 5px;
    width: 50%;
}

.spanEdit--list {
    .editableSpan--list {
        display: none;
    }
}

.spanEdit--list {
    .editableInput--list {
        display: initial;
    }
}

.ToDoList__tasks {
    border-radius: 4px;
    margin: 2px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    @extend %scrollbarStyles;

    @media screen and (min-width: 960px) {
        overflow: auto;
        max-height: 65vh;
        padding: 0 2px 2px 0;
    }

    @media screen and (min-width: 1150px) {
        max-height: 75vh;
    }
}

.defaultButton {
    height: 22px;
    width: 22px;
    font-weight: 700;
    font-size: 12px;
    padding: 1px;
    border: none;
    border-radius: 2px;
    transition: transform 300ms ease, background 300ms ease;

    &active {
        transform: scale(0.9);
    }
}

.removeDayButton {
    background: #fc0000;
    color: #fff;
    position: absolute;
    right: 8px;

    &:hover {
        background: #d10707;
    }
}

.addTaskBtn {
    background: #00f329;
    position: absolute;

    &:hover {
        background: #13b92f;
    }
}

.addTaskBtn--first {
    left: 8px;
}

.addTaskBtn--last {
    left: 40px;
}
