body {
  background: #1f2b6c;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

.mainContainer {
  margin: 0 auto;
  border-radius: 4px;
  min-width: 250px;
  height: 84vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}