@import './scrollbar-styles';

body {
  background: #1f2b6c;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  @extend %scrollbarStyles;
  
  @media screen and (min-width: 960px) {
    overflow-y: hidden;
    margin-bottom: 0;
  }
}

main {
  @extend %scrollbarStyles;

  @media screen and (min-width: 960px) {
    overflow-x: auto;
    overflow-y: hidden;
    height: 97.5vh;
  }

  @media screen and (min-width: 1150px) {
    height: 98.5vh;
  }  
}

.lists__container {
  margin: 0 auto;
  border-radius: 4px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media screen and (min-width: 960px) {
    flex-wrap: nowrap;
    height: 85vh;
  }
}