.editableSpan {
    display: block;
    margin: 15px 5px 5px 5px;
    min-height: 22px;
}

.editableSpan:hover {
    cursor: pointer;
}

.editableInput--list {
    display: none;
    margin: 15px 5px 5px 5px;
    width: 55%;
}

.editableInput--task {
    display: none;
    margin: 15px 5px 5px 5px;
    width: 96%;
}

.spanEdit .editableSpan {
    display: none;
}

.spanEdit .editableInput--list, .spanEdit .editableInput--task {
    display: initial;
}